p {
    font-size: 18px;
    color: #333;
    margin-bottom: 15px;
}

form {
    margin-top: 30px;
}

label {
    display: inline-block;
    font-weight: normal;
    color: #666;
    margin-bottom: 10px;
}

input[type="text"],
textarea {
    width: 95%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
    color: #444;
    background-color: #f9f9f9;
    box-shadow: 0 0 3px rgba(0, 0, 0, 0.1);
}

input[type="date"] {
    padding: 8px;
}

input[type="submit"] {
    background-color: #007bff;
    color: #fff;
    border: none;
    padding: 10px 15px;
    border-radius: 4px;
    font-size: 18px;
    cursor: pointer;
    transition: background-color 0.3s;
}

input[type="submit"]:hover {
    background-color: #0056b3;
}

/* Styles spécifiques pour le formulaire de traitement */
#traiter_demande_form {
    background-color: #e9ecef;
    padding: 15px;
    border-radius: 8px;
    box-shadow: 0 0 8px rgba(0, 0, 0, 0.2);
    margin-top: 40px;
}

#traiter_demande_form h3 {
    font-size: 22px;
    font-weight: normal;
    color: hsl(0, 85%, 18%);
    margin-bottom: 20px;
}

#traiter_demande_form p {
    font-size: 18px;
    color: hsl(261, 94%, 38%);
    margin-bottom: 20px;
}

.success-message {
    color: #007bff;
    font-weight: normal;
    margin-top: 15px;
}
